{
    "plugins": [
        "transform-flow-strip-types",
        "transform-object-rest-spread",
        "lodash"
    ],
    "env": {
        "development": {
            "presets": [
                [
                    "env",
                    {
                        "modules": false,
                        "loose": true
                    }
                ],
                "react"
            ]
        },
        "production": {
            "presets": [
                [
                    "env",
                    {
                        "modules": false,
                        "loose": true
                    }
                ],
                "react"
            ],
            "plugins": ["transform-inline-environment-variables"]
        },
        "release": {
            "presets": [
                [
                    "env",
                    {
                        "modules": false,
                        "loose": true
                    }
                ],
                "react"
            ]
        },
        "test": {
            "presets": ["env"],
            "plugins": ["transform-inline-environment-variables"]
        }
    }
}
