{
    "plugins": [
        "transform-flow-strip-types",
        "lodash"
    ],
    "env": {
        "development": {
            "presets": [["es2015", {modules: false, loose: true}], "stage-1", "react"],
        },
        "production": {
            "presets": [["es2015", {modules: false, loose: true}], "stage-1", "react"],
            "plugins": ["transform-inline-environment-variables"]
        },
        "release": {
            "presets": [["es2015", {modules: false, loose: true}], "stage-1", "react"],
        },
        "test": {
            "presets": ["node6", "stage-1"],
            "plugins": [
                "transform-inline-environment-variables"
            ]
        }
    }
}
