language: node_js

node_js:
    - "10"
    - "8"
    - "6"

install:
    - yarn

cache:
  yarn: true
  directories:
    - node_modules

script:
    - travis_retry yarn test-travis
    - travis_retry yarn bundlesize

jobs:
    include:
        - stage: npm release
          node_js: "8"
          script: yarn release-ci

env:
    global:
        - secure: "fLw5Qa106+dCtzZvxO3QrHYdwbtw8zD7DZyYRaav2GWiyJ9/mo3AVjsXoOg8Zwm/17P/VYAa+gey1w/U6FpONA+TfckIE6W3HsxO2cZaSlaMEp4DnQWWvVs4A5MUt2E/xa1S3TkyGjVmLDg0ttXgBpDeVd2lw4M7gODXL2IL1bwecwRwx+P83VrH5kOxBsD+nQ7zNQFt9CX4BGqoYTbbrpOXPWQ58MWBT3SOPAyQeCw3P36fec6Uvfm6PZ5JdZ5IhXlI5pYlOjkidHyQDsWNmZO/H1CszyP60sQKWw6TsCRyZ/dPPs5WZt6zCtu/nR3wilyIK/1ySEcNtpS8ZpGXTczeBcdC6oRDv/bk5yN+AHYFq7KxeGdHelOeqCFO4cJmcyFihLPFfyBcEsKAFAw2K/iNrbcLbnYlkVXQpkEDECTe/jIQQLH6fstyTonQgYX3cgqhCQcw09EqqCwxK41DMHqFdk0wXZaL10JJ9zH+x5rnwGfI1hqbYDmQGEyO6VuGAw07uA3T3HvdwDEkUQyiC5I81UjZg0zQVemmyqePm+JeqrzMRhGdzI4p+ST2XDeLx8CrGvbMmyamnotdDOtS1PTsJCJ4ti4ynq7eLo0CHfz7UnMDZcLhF1/BvYIrGYFaE9Y7iqRXvh44c/X1AaqtDE63mXItfWwdtB687ZZWpis="
        - secure: "xawyvucnkVkrpMB6rXroHwsrbmBq8O6FB2GPrqD/wlCBlsMP0g9vROjLBotK0A+ze/iiARuOUvANcY10/onF/aucVcWni5FbBFPYFSiwABPvHq4VvNGD9dDn0HCJ7wVwCAPH/DrOfaJKSACSh6OiUdw0PGSX8ZPEPUR7JPxILhwf870+ZsdJFHGW856QRsiom3SbO0PBHWZoB6Oers+gYU9Cfo9cal3UlnheBeqK9bf+GdsuZ/lUfDRYjxhDpBkSxu1xeQqRImopqpttcm6pByVwP8muUSuoYP/UW3GYsmruJySPGapJuikZRmCZNklWRs2InZ1PjTXL6UnkU5Ns4Lr4p7gvnN7zp0avYorqQx8yRdhesNeoAF2Z4t+E15HDWq8WOkIxD9aaKdgQfbebqr9s0+SxOpUM1O1TYjB+nSkSQ9uMZfU9XwcoFRIbBPKYvopQYolpK3W1xLocHXIelF+Ehe4LmkyCtrFOzblJ/9Z6QkULFebrIXUn0R/GAAA+fTyCK8QM21lS7B8IKNkwLm5MBiV/KRKX+H+BQ2FUFsdbHPVYoyx/dR9K+uhgqgxmLg2pxIlXRSBCQkx8wNPQaKabSJ65FFDf2NOeR5sOCQc3LvQhDR29WAwxgXj+adYSbP8t6W1+ktRq0WFHdY6q1jjmbrnnnG3/yqD0NjSfSIw="
